<!--
Created by Jesse Scully
Date: 29/09/2025
Influenced by:
4. Badminton coaching session entries should include the following:
- Approximate Coaching Time
- Things I worked on: footwork, smashing, defence, front court (Make these buttons)
- Homework/At home practice (make this comments)
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<br>
<h1 align="center">Coaching Entry</h1>

<!-- Add a calendar -->
<!-- Code taken from this tutorial: https://www.youtube.com/watch?v=XgUYftRJHPY -->
<label for="datepicker"> Select Date: </label>
<input type="date" id="datepicker" name="datepicker">
<br><br>

<form>
    <label for="coaching">Appromixate Coaching Time: </label>
    <input type="number" class="form-control" id="coaching" name="coaching" value=""><br>
        
    <label for="worked">Things I worked on:</label>
    <textarea class="form-control" rows="3" id="description"></textarea><br>
    <!--<input type="text" class="form-control mb-4" id="worked" name="worked" value="">-->

    <label for="practice">At home practice drills:</label>
    <textarea class="form-control" rows="3" id="description"></textarea><br>
    <!--<input type="text" class="form-control mb-4" id="practice" name="practice" value="">-->

    <button type="button" class="btn btn-primary">Submit</button>
</form>
{% endblock %}