<!--
Created by Jesse Scully
Date: 28/09/2025
Influenced by:
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- Dashboard layout basics based on: https://www.w3schools.com/bootstrap5/bootstrap_get_started.php -->

<br>
<h1 align="center">My Dashboard</h1>

<form method="POST">
    <!-- Button layout influenced by: https://www.w3schools.com/tags/tag_button.asp
    https://www.w3schools.com/howto/howto_css_round_buttons.asp-->
    <br />
    <head>
    <style>
    .button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .button1 {
    background-color: white;
    color: black;
    border: 2px solid #045faa;
    border-radius: 16px;
    }

    .button1:hover {
    background-color: #045faa;
    color: white;
    border-radius: 16px;
    }

    </style>
    </head>
</form>

<!-- Code influenced by: https://www.w3schools.com/bootstrap5/bootstrap_cards.php -->
<!-- Positioning code based on: https://getbootstrap.com/docs/5.3/utilities/position/-->
<div class="container mt-3 position-relative">
  <h2>Profile</h2>
  <br>
<div class="position-absolute
            top-0
            start-50">
  <h2> Performance </h2>  
  <p> Place graphs here </p>
</div>   
  <br>
  <div class="card text-bg-success" style="width:400px">
    <!-- Need to insert an image from the user and upload successfully 
    Or can give choices to the user and select a several images-->
    <img class="card-img-top" src="{{url_for('static', filename='Default_Image.jpg')}}" alt="Card image" style="width:100%">
    <div class="card-body">
    <!-- Need to be able to edit and save the name and description for user -->
      <h4 class="card-title">Name</h4>
      <p class="card-text">Personal Description</p>
      <button type="button" class="button button1">Edit</button>
      <button type="button" class="button button1">Add Performance Entry</button>
      <button type="button" class="button button1">Add Coaching Entry</button>       
    </div>
  </div>



<!-- 
1. Add a default picture for users and then give option to upload a picture
2. Make a button to enter an entry for the day for day performance for badminton games
3. Can make a separate button for coaching entries
 -->

{% endblock %}