<!--
Created by Jesse Scully
Date: 28/09/2025
Influenced by:
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- Dashboard layout basics based on: https://www.w3schools.com/bootstrap5/bootstrap_get_started.php -->

<br>
<h1 align="left">My Dashboard</h1> <br>

<!-- Code influenced by: https://www.w3schools.com/bootstrap5/bootstrap_cards.php -->
<!-- Positioning code based on: https://getbootstrap.com/docs/5.3/utilities/position/-->
<div class="container mt-3 position-relative">
  <h2>Profile</h2>
  <br>
<form>

<a href="{{ url_for('views.render_profile_edit') }}">
<button type="button" class="btn btn-primary mb-2">Edit</button>
</a>




<div class="position-absolute
            top-0
            start-50">
  <h2> Performance </h2>  
  <p> Place graphs here </p>
</div>

  <br>
  <div class="card text-white bg-secondary mb-3" style="width:320px">
    <!-- Need to insert an image from the user and upload successfully 
    Or can give choices to the user and select a several images-->
    <img class="card-img-top" src="{{url_for('static', filename='Default_Image.jpg')}}" alt="Card image" style="width:100%">
    
    <div class="card-body">
    
    <label> Name </label>
    <input type="text" class="form-control" name="name" value="{{ player.name }}" readonly><br>
        
    <label> Description </label>
    <input type="text" class="form-control mb-4" name="description" value="{{ player.description }}" readonly>

    <a href="{{ url_for('views.pe_route') }}">
      <button type="button" class="btn btn-primary mb-2">Add Performance Entry</button>
    </a>
    
    <a href="{{ url_for('views.ce_route') }}">
      <button type="button" class="btn btn-primary">Add Coaching Entry</button>
    </a>
        
    </div>
  </div>

</div>


<!-- 
1. Add a default picture for users and then give option to upload a picture
2. Make a button to enter an entry for the day for day performance for badminton games
3. Can make a separate button for coaching entries
 -->

{% endblock %}