<!--
Created by Jesse Scully
Date: 28/09/2025
Influenced by:
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- Dashboard layout basics based on: https://www.w3schools.com/bootstrap5/bootstrap_get_started.php -->

<br>
<h1 align="center">My Dashboard</h1>

<!-- Code influenced by: https://www.w3schools.com/bootstrap5/bootstrap_cards.php -->
<!-- Positioning code based on: https://getbootstrap.com/docs/5.3/utilities/position/-->
<div class="container mt-3 position-relative">
  <h2>Profile</h2>
  <br>

<!-- Code influenced by: https://getbootstrap.com/docs/4.0/components/modal/ -->
<button type="button" class="btn btn-info btn-lg mb-2" data-toggle="modal" data-target="#myModal">Edit</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <label>Name: </label>
      <input id="myText" class="mb-4"> 
      
      <div class="form-group mb-4">
        <label for="description">Player Description:</label>
        <textarea class="form-control" rows="3" id="description"></textarea>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="position-absolute
            top-0
            start-50">
  <h2> Performance </h2>  
  <p> Place graphs here </p>
</div>

  <br>
  <div class="card text-bg-success" style="width:320px">
    <!-- Need to insert an image from the user and upload successfully 
    Or can give choices to the user and select a several images-->
    <img class="card-img-top" src="{{url_for('static', filename='Default_Image.jpg')}}" alt="Card image" style="width:100%">
    
    <div class="card-body">
    
    <form>
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" name="name" value="Example" readonly><br>
        
      <label for="description"> Description:</label>
      <input type="text" class="form-control mb-4" id="description" name="description" value="ExampleDesc" readonly>
    </form>

    <a href="{{ url_for('views.pe_route') }}">
      <button type="button" class="btn btn-primary mb-2">Add Performance Entry</button>
    </a>
    
    <a href="{{ url_for('views.ce_route') }}">
      <button type="button" class="btn btn-primary">Add Coaching Entry</button>
    </a>
        
    </div>
  </div>

</div>


<!-- 
1. Add a default picture for users and then give option to upload a picture
2. Make a button to enter an entry for the day for day performance for badminton games
3. Can make a separate button for coaching entries
 -->

{% endblock %}