<!--
Created by Jesse Scully
Date: 29/09/2025
Influenced by:
-->

<!--
1. Focus on adding an entry for match performance for the day
2. Put a calendar to select a specific date
3. Badminton Social Game Entries should include the following:
- Game 1... + additional options to add more games
- Total wins and losses for the day
- Personal overall performance or feeling (positive or negative)
- Additional notes, comments or things you want to improve on
- E.g. "Need to work on my smashes", "My mixed doubles was good today"
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<br>
<h1 align="left">Performance Entry</h1>



<!-- This form will submit all data to database to be displayed on the graphs dashboard -->
<form method="POST" action ="{{ url_for('views.performance_details')}}">
    <!-- Add a calendar -->
    <!-- Code taken from this tutorial: https://www.youtube.com/watch?v=XgUYftRJHPY -->
    <label for="datepicker"> Select Date: </label>
    <input type="date" id="datepicker" name="datepicker">
    <br><br>

    <label for="wins">Total Wins for the Day: </label>
    <input type="number" class="form-control" id="wins" name="player_wins" value=""><br>
        
    <label for="losses"> Total Losses for the Day:</label><br>
    <input type="number" class="form-control mb-4" id="losses" name="player_losses" value="">

    <fieldset>
      <label for="customRange3" class="form-label">Intensity Level</label>
      <input type="range" class="form-range" name="player_intensity" min="1" max="10" step="1" id="customRange3">
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}