<!--
Created by Jesse Scully
Date: 29/09/2025
Influenced by:
-->

<!--
1. Focus on adding an entry for match performance for the day
2. Put a calendar to select a specific date
3. Badminton Social Game Entries should include the following:
- Game 1... + additional options to add more games
- Total wins and losses for the day
- Personal overall performance or feeling (positive or negative)
- Additional notes, comments or things you want to improve on
- E.g. "Need to work on my smashes", "My mixed doubles was good today"
-->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<br>
<h1 align="center">Performance Entry</h1>

<!-- Add a calendar -->
<!-- Code taken from this tutorial: https://www.youtube.com/watch?v=XgUYftRJHPY -->
<label for="datepicker"> Select Date: </label>
<input type="date" id="datepicker" name="datepicker">
<br><br>

<form>
    <label for="wins">Total Wins for the Day: </label>
    <input type="number" class="form-control" id="wins" name="wins" value=""><br>
        
    <label for="losses"> Total Losses for the Day:</label>
    <input type="number" class="form-control mb-4" id="losses" name="losses" value="">
</form>
{% endblock %}