{% extends "base.html" %}
{% block title %}Profile Edit{% endblock %}

{% block content %}
 
<br>
<h1 align="left">Profile Edit</h1>

<!-- Code influenced by: https://www.digitalocean.com/community/tutorials/how-to-use-web-forms-in-a-flask-application?-->
<form method="POST" action="{{ url_for('views.edit_details')}}">
    <label for="name">Name: </label>
    <input type="text" name="player_name" class="form-control" 
            value="{{ name }}"></input> <br>
        
    <label for="description">Player Description:</label>
    <input type="text" name="player_description" class="form-control" 
            value="{{ description }}"></input> <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}